listen = "127.0.0.1:8080"
postgres_uri = "postgres://my_user:my_password@example.com:5432/minkan"
redis_uri = "rediss://redis:redis_password@example.com:6380"


[openid_connect]
client_id = "minkan-server"
client_secret = "aaa"
discovery_url = "https://sso.erik-tesar.com/auth/realms/minkan"
redirect_url = "http://localhost:8080/odic/callback"
app_redirect_error = "https://localhost:8080/#/oidc/err"
app_redirect_success = "https://localhost:8080/#/oidc/ok"